$body-color: #efefef
$navbar-text-color: #272727
$main-text-color: #222222
$main-font: Montserrat medium
@mixin centering()
    display: block
    margin: 0 auto

html
    overflow: hidden
body
    background-color: $body-color
    font-family: $main-font
nav
    margin: 1.5%
.logo
    width: 50%
.navbar-nav
    margin-left: 10%
.nav-link
    font-size: 150%
    text-transform: uppercase
    color: $navbar-text-color !important
.burger
    width: 2.5%
    cursor: pointer
.text
    top: 100px
.button
    font-weight: bold
    text-decoration: none
    color: $main-text-color
    &:hover
        color: $main-text-color
.circle
    @include centering
    width: 550px
    bottom: 100px
.man
    @include centering
    width: 250px
    bottom: 600px
.title
    font-size: 100px
    font-weight: bold
    bottom: 950px
    left: 770px
    line-height: 80px