$body-color: #efefef
$circle: #e6ba38
$navbar-text-color: #272727
$main-text-color: #222222
$main-font: Montserrat medium

body
    background-color: $body-color
    font-family: $main-font
.logo
    width: 50%
.nav-link
    text-transform: uppercase
    color: $navbar-text-color !important
.burger
    width: 2.5%